name: CI/CD Pipeline

on:
  push:
    branches: [main, prod]
    paths:
      - "**"
      - "!kubernets/deployment.yml"

  pull_request:
    branches: [main, prod]
    types:
      - opened
      - synchronize

jobs:
  # Code-Check:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Code Checkout
  #       uses: actions/checkout@v5.0.0

  #     - name: Nodejs Setup
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: 21
  #         cache: npm

  #     - name: Lint Check
  #       run: |
  #        npm install
  #        npm run lint

  #     - name: Trivy Check
  #       uses: aquasecurity/trivy-action@0.24.0
  #       with:
  #         scan-type: fs
  #         scan-ref: "./"
  #         format: 'sarif'
  #         exit-code: 0
  #         output: "trivy-results.sarif"
  #       # run: cat -n trivy-results.sarif

  #     - name: GitLeaks
  #       uses: gitleaks/gitleaks-action@v2.3.9
  #       with:
  #         fetch-depth: 0
  #         retention-days: 1

  SonarQube:
    # needs: Code-Check
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v5.0.0

      - name: Sonarqube Code Quality Analysis
        uses: SonarSource/sonarqube-scan-action@v6.0.0
        with:
          projectBaseDir: .
          args: |
            -Dsonar.projectKey=newapp
            -Dsonar.sources=src
            -Dsonar.inclusions=**/*.js,**/*.jsx,**/*.ts,**/*.tsx
            -Dsonar.exclusions=**/node_modules/**,**/*.test.js,**/coverage/**
        env:
          SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
          SONAR_HOST_URL: ${{secrets.SONAR_HOST_URL}}

      - name:  QualityGate
        uses: SonarSource/sonarqube-quality-gate-action@v1
        timeout-minutes: 3
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

